APP_NAME=CBDIEZ
APP_ENV=local
APP_KEY=base64:8kMSiyTgdM468TJE5NRyPbRFLWBKDpG0VC/Vrg4Lats=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=u581716516_cbdiez
DB_USERNAME=u581716516_admin
DB_PASSWORD=pW0I^P~Pe;
SANCTUM_STATEFUL_DOMAINS=http://localhost:3000


#PayPal API Mode
# Values: sandbox or live (Default: live)
PAYPAL_MODE=sandbox
PAYPAL_CURRENCY=MXN	
PAYPAL_LOCALE=es_ES


#PayPal Setting & API Credentials - sandbox
PAYPAL_SANDBOX_CLIENT_ID=ATc2yl2eZERbs1EmWWaDnSf41QMpP5y6wgtDGtxSdRp4tceRnnbifr4YF2Ay7QeJuxBcSF8AEgXSdv8Z
PAYPAL_SANDBOX_CLIENT_SECRET=EEXdXs0yxvDs6Do6xk_boq9vAfM8utYc05J-OMykLeVkcYmg_2e8f5BEXz4f0uRdDvdKfhsJZRY7b_ce
#PayPal Setting & API Credentials - live
PAYPAL_LIVE_CLIENT_ID=AbuUSa5MJXPox5QJbd0zYgRsMOdZ085DT83kPK0P1AKBKLpQhjj0uE1reoFcdVuw65Hxtxjh5UnyB4mV
PAYPAL_LIVE_CLIENT_SECRET=EEJCmEwdrVuYXwH_DP-3eGXf3fhFrxFs--T-WHryxGICfg93mv8o_cGrM63EeJwoJjQSM2DsAmtWp4AN

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=database
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=99d449ef7a841c
MAIL_PASSWORD=52da285408aa03
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="info@cbdiez.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
